main .card {
  display: flex;
  justify-content: center; }

* {
  margin: 5;
  padding: 0;
  color: black;
  font-style: normal;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif; }

header h1 {
  color: black;
  background-color: #80b918;
  font-style: italic;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 10px;
  height: 45px; }

header h2 {
  color: black;
  font-style: normal;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 1000px;
  margin-left: 20px;
  height: 50px;
  margin-top: 20px; }

header p {
  color: black;
  font-style: italic;
  font-weight: 1000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px; }

header nav ul {
  list-style: none; }

header nav li {
  display: inline-block;
  margin: 15px;
  padding: 15px;
  background-color: #80b918; }

header nav a {
  text-decoration: none;
  color: black; }

header nav a:hover {
  color: whitesmoke; }

main {
  color: black;
  font-style: normal;
  font-size: 18px; }
  main .hero {
    margin: 10px;
    color: white; }
    main .hero img {
      margin: 0;
      width: 100%;
      height: 500px; }
    main .hero h5 {
      color: white; }
    main .hero p {
      color: white; }
    main .hero span {
      color: white; }
  main .resultados a img {
    width: 1000px; }
  main .mono {
    margin-right: 100px; }
  main .amistosos {
    display: flex;
    justify-content: flex end;
    align: center; }
  main .sanlorenzo {
    margin-left: 20px;
    margin-top: 40px; }
    main .sanlorenzo img {
      width: 600px; }
  main .sorteo {
    margin-left: 20px; }
    main .sorteo img {
      width: 400px;
      margin-left: 20px; }
  main .championsLeague {
    margin-left: 20px; }
  main .europa {
    display: flex;
    justify-content: center;
    align: center; }
    main .europa div {
      margin-left: 10px; }
    main .europa img {
      width: 560px; }
  main .belgica {
    margin: 50px; }
    main .belgica img {
      width: 500px;
      height: 300px; }
  main .ranking {
    margin-right: 650px;
    margin-left: 50px;
    width: 300px; }
  main .tecnico-boca {
    width: 850px;
    margin-left: 20px;
    margin-bottom: 40px; }
  main .brown img {
    width: 900px; }
  main .rafaela img {
    width: 700px; }
  main .fechaDomingo {
    margin-left: 10px;
    margin-bottom: 26px; }
  main .marruecos {
    width: 850px;
    height: 580px; }
  main .argentina {
    width: 450px;
    margin-top: 55px; }
  main .FotoArgentina {
    margin-top: 20px;
    width: 400px; }
  main .messi-foto {
    width: 500px; }
  main .mercadolibre {
    width: 50px; }
  main .grid-conteiner {
    margin-top: 20px;
    margin: 5px;
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(3fr 1fr);
    padding: 05px; }
    main .grid-conteiner .primer-item {
      grid-column: 1 / 2; }
    main .grid-conteiner .segundo-item {
      grid-column: 3;
      grid-row: 2; }
    main .grid-conteiner img {
      width: 600px;
      height: 200px; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  text-align: end;
  background-color: #80b918;
  width: 100%; }

@media screen and (max-width: 1645px) {
  main {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main p {
      margin: 20px;
      font-size: 20px; }
    main h2 {
      font-size: 25px; }
  header h1 {
    margin: 0px;
    width: 1600px; }
  .hero img {
    width: 1200px; }
  .hero button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none; }
  .sorteo {
    display: flex;
    flex-direction: column;
    column-gap: 5px; }
  .sanlorenzo p {
    margin: 5px; }
  footer {
    width: 1600px; }
    footer img {
      width: 30px; }
  footer h3 {
    display: flex;
    flex-wrap: wrap; }
  .internacional {
    display: flex;
    flex-direction: column; }
  .amistosos {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; }
  .marruecos img {
    width: 500px;
    height: 300px;
    margin-bottom: 0%; }
  .resultados {
    display: flex;
    flex-direction: column; }
  .europa {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  main .grid-conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    column-gap: 0%;
    width: 800px; }
    main .grid-conteiner img {
      width: 500px; }
  main .grid-conteiner .primer-item {
    grid-column: 2;
    grid-row: 2; }
  main .grid-conteiner .segundo-item {
    grid-column: 3;
    grid-row: 2; }
  .tercer-item {
    grid-column: 2 / 1; }
  .sexto-item {
    grid-column: 1;
    grid-row: 2; }
  .pie {
    width: 1400px; } }

@media screen and (max-width: 1245px) {
  main {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main p {
      margin: 20px;
      font-size: 25px; }
    main h2 {
      font-size: 30px; }
    main img {
      width: 1000px; }
  header h1 {
    margin: 0px;
    width: 1250px; }
  .hero img {
    width: 1200px; }
  .hero button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none; }
  .sorteo {
    display: flex;
    flex-direction: column;
    column-gap: 5px; }
  .sanlorenzo p {
    margin: 5px; }
  footer {
    width: 1250px; }
    footer img {
      width: 30px; }
  footer h3 {
    display: flex;
    flex-wrap: wrap; }
  .internacional {
    display: flex;
    flex-direction: column; }
  .amistosos {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; }
  .marruecos img {
    width: 500px;
    height: 300px;
    margin-bottom: 0%; }
  .resultados {
    display: flex;
    flex-direction: column; }
  .europa {
    display: flex;
    justify-content: center;
    flex-direction: column; }
  main .grid-conteiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    column-gap: 80px;
    width: 1000px; }
    main .grid-conteiner img {
      width: 500px; }
  main .grid-conteiner .primer-item {
    grid-column: 1;
    grid-row: 1; }
  main .grid-conteiner .segundo-item {
    grid-column: 2;
    grid-row: 2; }
  .tercer-item {
    grid-column: 2 / 3; }
  .sexto-item {
    grid-column: 1;
    grid-row: 2; }
  .pie {
    width: 1100px; } }

@media screen and (max-width: 980px) {
  * {
    margin: 5;
    padding: 0;
    color: black;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif; }
  body {
    margin: 5px; }
    body p {
      font-size: 23px;
      margin: 10px; }
    body h2 {
      font-size: 30px; }
  main {
    width: 100%;
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    main img {
      width: 970px;
      min-width: 700px; }
    main header h1 {
      margin: 0px;
      width: 1000px; }
    main .hero {
      width: 980px;
      min-width: 700px; }
      main .hero img {
        width: 500px; }
      main .hero button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: transparent;
        border: none; }
    main.sorteo {
      display: flex;
      flex-direction: column;
      column-gap: 5px;
      width: 1000px; }
    main .sanlorenzo {
      margin: 50px; }
      main .sanlorenzo img {
        width: 800px; }
    main footer h3 {
      display: flex;
      flex-wrap: wrap; }
    main.internacional {
      display: flex;
      flex-direction: column; }
    main.amistosos {
      display: flex;
      flex-direction: column;
      margin-bottom: 50px; }
    main.marruecos img {
      width: 500px;
      height: 300px;
      margin-bottom: 0%; }
    main.resultados {
      display: flex;
      flex-direction: column; }
    main.europa {
      display: flex;
      justify-content: center;
      flex-direction: column; }
    main main .grid-conteiner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0px;
      grid-column-gap: 5px;
      width: 1000px; }
      main main .grid-conteiner .primer-item {
        grid-column: 1;
        grid-row: 1; }
      main main .grid-conteiner .segundo-item {
        grid-column: 1;
        grid-row: 1; }
      main main .grid-conteiner .tercer-item {
        grid-column: 1;
        grid-row: 6; }
      main main .grid-conteiner .sexto-item {
        grid-column: 1;
        grid-row: 2; }
  .pie {
    width: 1300px; }
    .pie h3 {
      font-size: 25px; }
  footer {
    width: 1200px; } }

@media screen and (max-width: 796px) {
  * {
    margin: 5;
    padding: 0;
    color: black;
    font-style: normal;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif; }
  body {
    font-size: 14px;
    line-height: 1.3; }
    body h1 {
      font-size: 2rem;
      margin-bottom: 0.5rem; }
    body h2 {
      font-size: 30px; }
    body p {
      font-size: 25px;
      margin-bottom: 1rem;
      margin: 5;
      margin-bottom: 25px;
      display: inline-block;
      width: 800px; }
  main {
    font-size: medium;
    margin: auto;
    width: 100%; }
    main img {
      width: 1000px;
      min-width: 700px;
      margin: 5px; }
    main p {
      font-size: 25px;
      color: black; }
  header h1 {
    width: 1000px; }
  header nav ul {
    display: flex;
    flex-direction: column;
    width: 1000px; }
    header nav ul a {
      font-size: 25px;
      font-family: 'Times New Roman', Times, serif; }
  .hero img {
    width: 1650px; }
  .hero button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: none; }
  .ranking {
    margin-top: 65px; }
  .accordion-item button {
    font-size: 30px; }
  .accordion-body {
    font-size: 30px; }
    .accordion-body strong {
      font-size: 30px; }
  .sanlorenzo {
    width: 800px;
    margin: 0px; }
    .sanlorenzo img {
      width: 1000px; }
    .sanlorenzo p {
      width: 500px; }
  .tecnico-boca {
    margin: auto;
    width: 700px;
    margin-right: 50px; }
  .amistosos {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px; }
  .marruecos img {
    width: 500px;
    height: 300px;
    margin-bottom: 0%; }
  .imagen-principal {
    width: 600px; }
  main .grid-conteiner {
    margin-top: 20px;
    margin: 50px;
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: repeat(1, 1fr);
    padding: 5px;
    width: 700px; }
    main .grid-conteiner img {
      width: 500px; }
    main .grid-conteiner .primer-item {
      grid-column: 1;
      grid-row: 1; }
    main .grid-conteiner .segundo-item {
      grid-column: 1;
      grid-row: 2; }
    main .grid-conteiner .tercer-item {
      grid-column: 1;
      grid-row: 3; }
    main .grid-conteiner .cuarto-item {
      grid-column: 1;
      grid-row: 4; }
    main .grid-conteiner .quinto-item {
      grid-column: 1;
      grid-row: 5; }
    main .grid-conteiner .sexto-item {
      grid-column: 1;
      grid-row: 6; }
  .pie {
    width: 900px; }
  footer {
    width: 1000px; }
    footer h3 {
      font-size: 20px; }
    footer img {
      width: 25px; } }

@media screen and (max-width: 450px) {
  * {
    margin: 5;
    padding: 0;
    color: black;
    font-style: normal;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif; }
  body {
    font-size: 14px;
    line-height: 1.3; }
    body h1 {
      font-size: 40px;
      margin-bottom: 0.5rem; }
    body h2 {
      font-size: 50px;
      width: 900px; }
    body p {
      font-size: 40px;
      margin-bottom: 1rem;
      margin: 5px;
      margin-bottom: 25px;
      display: inline-block;
      width: 800px; }
  header h1 {
    width: 1000px; }
  header nav ul {
    display: flex;
    flex-direction: column;
    width: 950px; }
    header nav ul a {
      font-size: 40px;
      font-family: 'Times New Roman', Times, serif; }
  .ranking {
    margin-top: 450px; }
  .accordion-item button {
    font-size: 30px; }
  .accordion-body {
    font-size: 30px; }
    .accordion-body strong {
      font-size: 30px; }
  .grid-conteiner {
    margin-top: 20px;
    margin: 3px;
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(3fr 1fr);
    padding: 5px; }
    .grid-conteiner .primer-item {
      grid-column: 1 / 2; }
    .grid-conteiner .segundo-item {
      grid-column: 1;
      grid-row: 6; }
  .pie {
    width: 900px; }
  footer {
    position: static;
    margin-top: 20px;
    width: 1000px;
    height: 100px; }
    footer h3 {
      font-size: 40px; }
    footer img {
      width: 35px; } }
